.pageTitle {
    padding-top: 50px;
}

.content {
    padding-left: 6em;
    color:  rgb(13, 79, 192);
}

li {
    font-size: 20px;
}

.paragraphContent {
    text-align: center;
    padding-top: 2em;
}

.videoContent {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.subHeadings {
    color: white;
    padding-left: 25px;
    padding-bottom: 25px;
}

.contentBox {
    text-align: center;
    border-style: solid;
    margin: 25px;
}